.App {
  text-align: center;
}

.App-header {
  border-bottom: 1px solid #282c34;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.task-list {
  padding: 20px;
}

.task-row {
  border: 1px solid #aea6a6;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
  text-align: left;


}
