:root {
  --background: #fff;
  --foreground: #000;
  --primary-text: #454a5a;
  --secondary-text: #e0e3ee;
  --link: #f37d2a;
  --primary: #f59d5e;
  --primaryDark: #f37d2a;
  --secondary: #8c1ce8;
  --tertiary: #1cbfe8;
  --main-gradient-left: linear-gradient(
    to right,
    var(--secondary),
    var(--primary)
  );
  --main-gradient-right: linear-gradient(
    to left,
    var(--secondary),
    var(--primary)
  );
  --secondary-gradient-left: linear-gradient(
    to left,
    var(--secondary),
    var(--tertiary)
  );
  --secondary-gradient-right: linear-gradient(
    to right,
    var(--secondary),
    var(--tertiary)
  );
}

.dark-mode {
  --background: #000;
  --foreground: #fff;
  --primary-text: #e0e3ee;
  --secondary-text: #454a5a;
  --link: #1cbfe8;
  --primary: #f59d5e;
  --primaryDark: #f37d2a;
  --tertiary: #8c1ce8;
  --secondary: #1cbfe8;
  --main-gradient-left: linear-gradient(
    to right,
    var(--secondary),
    var(--primary)
  );
  --main-gradient-right: linear-gradient(
    to left,
    var(--secondary),
    var(--primary)
  );
  --secondary-gradient-left: linear-gradient(
    to left,
    var(--secondary),
    var(--tertiary)
  );
  --secondary-gradient-right: linear-gradient(
    to right,
    var(--secondary),
    var(--tertiary)
  );
}

body {
  background-color: var(--background);
  color: var(--foreground);
  padding-bottom: 50px;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-header {
  border-bottom: 1px solid var(--secondary);
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  background: var(--background);

  .App-header-main {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
      margin-left: 25%;
      flex-basis: 50%;
    }

    .App-title-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: max-content;

      .App-title {
        background: var(--main-gradient-left);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .App-subtitle {
        font-size: 8px;
        letter-spacing: 1px;
        width: 190px;
        text-align: right;
        color: var(--secondary);
      }
    }
  }

  .App-header-right {
    flex-basis: 25%;
    font-size: 12px;

    & .App-login {
      color: var(--secondary);
      text-decoration: none;
      & svg {
        margin-right: 5px;
      }
      & button {
        background-color: var(--background);
        color: var(--secondary);
        border: none;
      }
    }

    & .App-user {
      & svg {
        margin-right: 5px;
      }
    }
  }
}

.App-divider {
  background: var(--secondary-gradient-left);
  height: 2px;
  width: 100vw;
}

.App-body {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--background);

  @media (max-width: 768px) {
    padding: 0 5px;
  }
}

.color-mode-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  border: 1px solid var(--foreground);
  border-radius: 50px;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: var(--foreground);
  font-size: 30px;
}

.loading-indicator {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & img {
    width: 100px;
    height: 75px;
  }

  & div {
    margin: 20px;
  }
}

.task-title {
  margin: 10px;
  color: var(--primary-text);
  max-width: 50vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task-list {
  padding: 20px;
  background: var(--secondary-gradient-right);
  background-clip: content-box;

  @media (max-width: 768px) {
    padding: 20px 0;
  }
}

.task-form-container {
  width: min-content;
}

.task-form {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  width: 100%;
}

.form-input {
  border: 1px solid var(--secondary);
  border-radius: 25px;
  background-color: var(--background);
  color: var(--primary-text);
  padding: 10px;
  padding-right: 0;
  height: 25px;
}

.form-input-group {
  display: flex;
  flex-direction: column;
  & label {
    text-align: left;
    color: var(--foreground);
  }
}

.sign-up-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;

  @media (min-width: 768px) {
    width: 50%;
  }

  .form-title {
    color: var(--secondary);
    align-self: flex-start;
    margin-bottom: 20px;
    font-size: 24px;
  }

  .form-input {
    margin: 10px 0;
    width: 98%;
  }

  & button {
    border: 1px solid;
    border-color: var(--secondary);
    border-radius: 25px;
    color: var(--secondary);
    background: transparent;
    padding: 10px;
    height: 45px;
    width: 20%;
    min-width: 45px;
    transition: background-color 0.3s;
    align-self: flex-end;
    margin-top: 10px;

    @media (max-width: 768px) {
      width: 30%;
    }

    &:hover {
      background-color: var(--secondary);
      color: white;
    }
  }

  .sign-up-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & a {
      color: var(--primary);
      text-decoration: none;
    }
  }
}

.auth-error {
  color: var(--primary);
  align-self: flex-start;
  margin-bottom: 20px;
  font-size: 16px;
}

.task-form-left {
  width: 85%;

  & .form-input {
    width: 100%;

    @media (max-width: 768px) {
      width: 90%;
    }
  }
}

.task-form-right {
  width: 10%;

  @media (max-width: 768px) {
    width: 20%;
  }

  & button {
    border: 1px solid;
    border-color: var(--secondary);
    border-radius: 25px;
    color: var(--secondary);
    background: transparent;
    padding: 10px;
    height: 45px;
    width: 100%;
    min-width: 45px;
    transition: background-color 0.3s;

    @media (max-width: 768px) {
      width: 90%;
    }

    &:hover {
      background-color: var(--secondary);
      color: white;
    }
  }
}

.task-input-error {
  color: var(--primaryDark);
  text-align: left;
  margin: 10px;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  color: var(--primary-text);
  background: var(--background);
  margin-bottom: 1px;
  text-align: left;
}

.task-row-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 300px;
  padding: 10px;
}

.task-title {
  margin-left: 10px;
  font-size: 16px;
  text-align: left;
}

.task-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.task-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.task-checkbox-container input:checked ~ .task-checkmark:after {
  display: block;
}

.task-checkbox-container:hover input ~ .task-checkmark {
  background-color: var(--secondary-text);
}

.task-checkbox-container .task-checkmark:after {
  top: 4px;
  left: 4px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--primary);
}

.task-checkmark {
  position: absolute;
  top: -10px;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #c6bcbc;
  border-radius: 50%;
}

.task-checkmark:after {
  content: "";
  position: absolute;
  display: none;
  font-size: 20px;
}

.task-toggle-button {
  background-color: transparent;
  border: none;
  width: 10%;
  text-align: right;
  color: var(--secondary);
  font-size: 20px;
  margin-right: 10px;

  & svg {
    transform: rotate(0deg);
    transition: 0.3s;
  }
}

.rotate-90-right {
  & svg {
    transform: rotate(90deg);
    transition: 0.3s;
  }
}

.task-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  height: 60px;
}

.task-controls-button,
.task-toggle-button,
.task-delete-button {
  color: var(--secondary);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.task-delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border: none;
  text-align: right;
  color: var(--background);
  font-size: 20px;
  height: 60px;
  width: 60px;
}

.task-info-pane {
  padding: 5px;
  min-height: 100px;
  border: 1px solid transparent;
  margin: 1px;
  background: var(--background);

  &:last-of-type {
    padding-bottom: 75px;
  }
}

.task-panel {
  background: var(--background);
  border: 1px solid transparent;
  padding: 5px 5px 0 5px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.task-panel.open {
  padding: 5px;
  margin: 2px;
  max-height: 700px; /* Adjust based on the content height */
}

.task-panel.closed {
  max-height: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.chat-form {
  width: 100%;

  & input {
    border: 1px solid #aea6a6;
    border-radius: 25px;
    width: 70%;
    padding: 10px;
    margin-right: 10px;
  }

  & button {
    border: 1px solid #aea6a6;
    border-radius: 25px;
    width: 20%;
    padding: 10px;
    color: white;
    background: var(--main-gradient-left);
  }
}

.chat-form-button-only {
  display: flex;
  justify-content: flex-end;

  & button {
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    color: white;
    background: var(--main-gradient-left);

    @media (min-width: 768px) {
      width: max-content;
    }

    &:hover {
      background: var(--main-gradient-right);
    }
  }
}

.chat-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-sparkles {
  font-size: 20px;
}

.chat-response {
  position: relative;
  text-align: left;
  padding: 20px;
  overflow: hidden;
  overflow-wrap: break-word;
  color: var(--primary-text);

  & a {
    color: var(--link);
  }
}

.chat-link-item {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 50px;
  }
}

.chat-search-link {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--link);
}
